In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

In [2]:
train = pd.read_csv("/Users/zoetsai/Downloads/pisa2009train.csv")

In [3]:
test = pd.read_csv("/Users/zoetsai/Downloads/pisa2009test.csv")

In [4]:
train.shape

(3663, 24)

In [5]:
train.describe()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
count,3663.000000,3663.000000,3607.000000,3601.000000,3566.000000,3266.000000,3570.000000,3418.000000,3094.000000,3430.000000,...,3592.000000,3598.000000,3629.000000,3477.000000,3414.000000,3520.000000,3663.000000,3663.000000,3501.000000,3663.000000
mean,10.089817,0.511057,0.722761,0.785893,0.879978,0.348132,0.734454,0.859274,0.331933,0.853061,...,0.871659,0.899389,0.289887,266.208225,24.499414,0.967614,0.933934,0.384930,1369.316767,497.911403
std,0.554375,0.499946,0.447697,0.410259,0.325033,0.476451,0.441685,0.347789,0.470983,0.354096,...,0.334515,0.300855,0.453772,148.403525,7.184348,0.177049,0.248431,0.486645,869.983618,95.515153
min,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,100.000000,168.550000
25%,10.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,0.000000,225.000000,20.000000,1.000000,1.000000,0.000000,712.000000,431.705000
50%,10.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,0.000000,250.000000,25.000000,1.000000,1.000000,0.000000,1212.000000,499.660000
75%,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,300.000000,30.000000,1.000000,1.000000,1.000000,1900.000000,566.230000
max,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2400.000000,75.000000,1.000000,1.000000,1.000000,6694.000000,746.000000

In [10]:
train.groupby("male").mean()

,grade,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,selfBornUS,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
male,,,,,,,,,,,,,,,,,,,,,
0,10.145170,0.715986,0.818647,0.869863,0.312150,0.739703,0.852959,0.295320,0.841980,0.925441,...,0.87500,0.904141,0.391892,264.593329,24.683619,0.961828,0.953099,0.366834,1357.814620,512.940631
1,10.036859,0.729246,0.754615,0.889746,0.382902,0.729418,0.865330,0.367153,0.863662,0.936854,...,0.86845,0.894823,0.192121,267.769231,24.318630,0.973199,0.915598,0.402244,1380.298716,483.532479

In [12]:
train.isnull().sum()

grade                      0
male                       0
raceeth                   35
preschool                 56
expectBachelors           62
motherHS                  97
motherBachelors          397
motherWork                93
fatherHS                 245
fatherBachelors          569
fatherWork               233
selfBornUS                69
motherBornUS              71
fatherBornUS             113
englishAtHome             71
computerForSchoolwork     65
read30MinsADay            34
minutesPerWeekEnglish    186
studentsInEnglish        249
schoolHasLibrary         143
publicSchool               0
urban                      0
schoolSize               162
readingScore               0
dtype: int64

In [13]:
train.dropna(inplace=True)
test.dropna(inplace=True)

In [14]:
print(train.shape)
print(test.shape)

(2414, 24)
(990, 24)

In [22]:
for col in train.columns:
    print(train[col].value_counts())

10    1730
11     491
9      188
12       3
8        2
Name: grade, dtype: int64
1    1210
0    1204
Name: male, dtype: int64
White                                     1470
Hispanic                                   500
Black                                      228
Asian                                       95
More than one race                          81
Native Hawaiian/Other Pacific Islander      20
American Indian/Alaska Native               20
Name: raceeth, dtype: int64
1    1756
0     658
Name: preschool, dtype: int64
1    2014
0     400
Name: expectBachelors, dtype: int64
1    2163
0     251
Name: motherHS, dtype: int64
0    1536
1     878
Name: motherBachelors, dtype: int64
1    1776
0     638
Name: motherWork, dtype: int64
1    2110
0     304
Name: fatherHS, dtype: int64
0    1573
1     841
Name: fatherBachelors, dtype: int64
1    2069
0     345
Name: fatherWork, dtype: int64
1    2260
0     154
Name: selfBornUS, dtype: int64
1    1907
0     507
Name: motherBornUS, dtype: int64
1    1896
0     518
Name: fatherBornUS, dtype: int64
1    2128
0     286
Name: englishAtHome, dtype: int64
1    2210
0     204
Name: computerForSchoolwork, dtype: int64
0    1686
1     728
Name: read30MinsADay, dtype: int64
225     321
250     281
300     207
270     200
275     198
450     123
200     114
240      95
360      54
180      47
50       38
350      37
45       35
210      30
235      28
90       25
315      24
400      22
160      20
55       19
280      19
60       17
290      16
285      16
150      15
0        15
230      14
245      14
255      14
220      12
       ...
1540      1
156       1
516       1
144       1
301       1
318       1
252       1
320       1
249       1
332       1
335       1
236       1
344       1
345       1
354       1
364       1
370       1
376       1
380       1
201       1
410       1
190       1
176       1
460       1
172       1
170       1
165       1
288       1
504       1
282       1
Name: minutesPerWeekEnglish, dtype: int64
30    467
25    440
20    419
15    104
28     87
24     70
23     70
18     69
22     66
35     60
27     55
26     52
21     47
40     45
32     35
17     34
16     32
12     28
10     25
29     24
14     22
13     22
31     18
36     16
33     14
19     13
38     12
11      8
9       8
34      6
1       5
45      5
39      4
7       4
8       3
5       3
75      2
42      2
2       2
50      2
60      2
37      2
6       2
3       1
74      1
70      1
68      1
65      1
62      1
43      1
67      1
Name: studentsInEnglish, dtype: int64
1    2345
0      69
Name: schoolHasLibrary, dtype: int64
1    2215
0     199
Name: publicSchool, dtype: int64
0    1538
1     876
Name: urban, dtype: int64
1680    42
1064    39
1900    36
366     32
1526    28
1610    27
996     27
389     27
575     26
2144    26
570     25
915     25
2340    24
930     24
1250    24
1489    23
1375    23
1212    22
854     22
899     22
1046    22
632     22
929     22
149     22
3138    22
308     22
1327    22
2878    22
434     21
2041    21
        ..
690     11
979     11
808     10
2640    10
850     10
3009    10
300     10
3000    10
1471    10
1640    10
1408    10
626      9
1998     9
2149     9
865      9
1812     9
612      8
1202     8
1400     8
2203     8
1110     8
1196     8
1382     7
914      7
1273     6
889      5
331      4
673      4
6694     2
100      2
Name: schoolSize, dtype: int64
473.28    5
482.02    4
497.12    4
577.90    4
482.42    4
517.93    3
444.90    3
566.27    3
506.17    3
512.32    3
536.93    3
581.98    3
560.34    3
475.60    3
558.21    3
577.74    3
531.99    3
444.34    3
448.35    3
584.15    3
570.04    3
508.32    3
446.18    3
622.31    3
442.33    3
586.49    3
582.22    3
477.18    3
511.42    3
551.53    3
         ..
566.19    1
540.38    1
561.86    1
544.78    1
550.16    1
473.52    1
443.86    1
378.52    1
627.40    1
580.62    1
553.52    1
633.91    1
390.06    1
494.76    1
440.79    1
632.97    1
732.42    1
583.79    1
722.41    1
277.70    1
388.22    1
720.91    1
626.08    1
563.79    1
441.03    1
611.51    1
389.79    1
634.41    1
554.25    1
486.00    1
Name: readingScore, dtype: int64

In [26]:
dummies = pd.get_dummies(train['raceeth'])
train = pd.concat([train, dummies], axis=1)
train = train.drop(['raceeth', 'White'], axis=1)

In [46]:
import re
train.columns = [re.sub("[ /-]", "", c) for c in train.columns]

In [47]:
train.describe()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,publicSchool,urban,schoolSize,readingScore,AmericanIndianAlaskaNative,Asian,Black,Hispanic,Morethanonerace,NativeHawaiianOtherPacificIslander
count,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,...,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000,2414.000000
mean,10.126346,0.501243,0.727423,0.834300,0.896023,0.363712,0.735708,0.874068,0.348384,0.857084,...,0.917564,0.362883,1371.649544,517.962887,0.008285,0.039354,0.094449,0.207125,0.033554,0.008285
std,0.523174,0.500102,0.445377,0.371888,0.305294,0.481167,0.441047,0.331842,0.476557,0.350060,...,0.275084,0.480931,847.800992,89.325693,0.090663,0.194475,0.292513,0.405330,0.180116,0.090663
min,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,100.000000,244.480000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,712.000000,455.847500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,1233.000000,520.205000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1900.000000,581.395000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,6694.000000,746.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [54]:
train.columns

Index(['grade', 'male', 'preschool', 'expectBachelors', 'motherHS',
       'motherBachelors', 'motherWork', 'fatherHS', 'fatherBachelors',
       'fatherWork', 'selfBornUS', 'motherBornUS', 'fatherBornUS',
       'englishAtHome', 'computerForSchoolwork', 'read30MinsADay',
       'minutesPerWeekEnglish', 'studentsInEnglish', 'schoolHasLibrary',
       'publicSchool', 'urban', 'schoolSize', 'readingScore',
       'AmericanIndianAlaskaNative', 'Asian', 'Black', 'Hispanic',
       'Morethanonerace', 'NativeHawaiianOtherPacificIslander'],
      dtype='object')

In [48]:
all_columns = "+".join(train.columns - ["readingScore"])
model = sm.ols(formula="readingScore ~ " + all_columns, data=train).fit()

/Users/zoetsai/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()
  if __name__ == '__main__':

In [50]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           readingScore   R-squared:                       0.325
Model:                            OLS   Adj. R-squared:                  0.317
Method:                 Least Squares   F-statistic:                     41.04
Date:                Sat, 30 Apr 2016   Prob (F-statistic):          1.72e-180
Time:                        11:11:57   Log-Likelihood:                -13795.
No. Observations:                2414   AIC:                         2.765e+04
Df Residuals:                    2385   BIC:                         2.781e+04
Df Model:                          28
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------------------
Intercept                            143.7663     33.841      4.248      0.000        77.405   210.128
AmericanIndianAlaskaNative           -67.2773     16.787     -4.008      0.000      -100.196   -34.359
Asian                                 -4.1103      9.220     -0.446      0.656       -22.191    13.970
Black                                -67.0123      5.461    -12.271      0.000       -77.721   -56.304
Hispanic                             -38.9755      5.178     -7.528      0.000       -49.129   -28.822
Morethanonerace                      -16.9225      8.496     -1.992      0.047       -33.583    -0.262
NativeHawaiianOtherPacificIslander    -5.1016     17.006     -0.300      0.764       -38.449    28.246
computerForSchoolwork                 22.5002      5.703      3.946      0.000        11.318    33.683
englishAtHome                          8.0357      6.859      1.171      0.242        -5.415    21.487
expectBachelors                       55.2671      4.294     12.871      0.000        46.847    63.687
fatherBachelors                       16.9298      3.995      4.237      0.000         9.095    24.764
fatherBornUS                           4.3070      6.264      0.688      0.492        -7.976    16.590
fatherHS                               4.0182      5.579      0.720      0.471        -6.923    14.959
fatherWork                             5.8428      4.396      1.329      0.184        -2.778    14.463
grade                                 29.5427      2.937     10.057      0.000        23.783    35.303
male                                 -14.5217      3.156     -4.601      0.000       -20.710    -8.333
minutesPerWeekEnglish                  0.0128      0.011      1.194      0.233        -0.008     0.034
motherBachelors                       12.6381      3.861      3.273      0.001         5.066    20.210
motherBornUS                          -8.7982      6.588     -1.336      0.182       -21.716     4.120
motherHS                               6.0588      6.091      0.995      0.320        -5.886    18.004
motherWork                            -2.8091      3.522     -0.798      0.425        -9.715     4.097
preschool                             -4.4637      3.486     -1.280      0.201       -11.300     2.372
publicSchool                         -16.8575      6.726     -2.506      0.012       -30.046    -3.669
read30MinsADay                        34.8719      3.408     10.231      0.000        28.188    41.556
schoolHasLibrary                      12.2151      9.265      1.318      0.187        -5.953    30.383
schoolSize                             0.0065      0.002      2.977      0.003         0.002     0.011
selfBornUS                            -3.8063      7.324     -0.520      0.603       -18.168    10.555
studentsInEnglish                     -0.2866      0.228     -1.258      0.208        -0.733     0.160
urban                                 -0.1101      3.963     -0.028      0.978        -7.881     7.661
==============================================================================
Omnibus:                        8.273   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                8.362
Skew:                          -0.141   Prob(JB):                       0.0153
Kurtosis:                       2.943   Cond. No.                     3.70e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.7e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [53]:
np.sqrt(np.mean(model.resid ** 2))

73.365551432984546

In [56]:
dummies = pd.get_dummies(test['raceeth'])
test = pd.concat([test, dummies], axis=1)
test = test.drop(['raceeth', 'White'], axis=1)
test.columns = [re.sub("[ /-]", "", c) for c in test.columns]

In [57]:
test.describe()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,publicSchool,urban,schoolSize,readingScore,AmericanIndianAlaskaNative,Asian,Black,Hispanic,Morethanonerace,NativeHawaiianOtherPacificIslander
count,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,...,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000
mean,10.128283,0.491919,0.722222,0.811111,0.873737,0.331313,0.719192,0.850505,0.323232,0.850505,...,0.913131,0.353535,1375.037374,519.864273,0.011111,0.045455,0.079798,0.203030,0.035354,0.006061
std,0.513427,0.500187,0.448130,0.391618,0.332313,0.470923,0.449621,0.356756,0.467947,0.356756,...,0.281785,0.478309,874.559124,88.800426,0.104875,0.208404,0.271117,0.402458,0.184765,0.077653
min,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,120.000000,242.640000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,636.000000,460.262500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,1274.500000,520.175000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1969.250000,582.530000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,6694.000000,772.460000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [63]:
preds = model.predict(test)
print(preds.min())
print(preds.max())
print(preds.max() - preds.min())

353.223123114
637.691434909
284.468311795

In [66]:
resids = preds - test['readingScore']
sse = (resids**2).sum()
rmse = np.sqrt((resids**2).mean())
print(sse)
print(rmse)

5762082.371144734
76.2907938311

In [67]:
preds_baseline = np.array([train['readingScore'].mean()] * test.shape[0])

In [68]:
resids_baseline = preds_baseline - test['readingScore']
sse_baseline = (resids_baseline**2).sum()
rmse_baseline = np.sqrt((resids_baseline**2).mean())
print(sse_baseline)
print(rmse_baseline)

7802354.077613839
88.7759299302

In [71]:
sst = sse_baseline
test_r2 = 1.0 - (sse/sst)
print(test_r2)

0.2614943754376592